# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

# Objectives:
* Learn popular tools used in Data Science
* Learn popular langauges used in Data Science
* Learn Data Science methodlogies
* Simple DS program in python using Jupyter Notebook
* Data Visualization tools like R Studio for plotting simple data sets

Some of the popular languages that Data Scientist uses are:

1. Python
2. C++
3. Java
4. Scala
5. JavaScript
6. R
7. SQL

Some of the commonly used libraries by Data Scientist include:

1. Pandas
2. NumPy
3. Scikit
4. TensorFlow

 | Data Science Tools     |
 |--------------------    |
 | Jupyter Notebook       |
 | R Studio |
| Visual Studio Code Editor |
| Watson Studio |

 ### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is simple arithmetic expression to multiply and add numbers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing 60
200/60

3.3333333333333335

## Author
Nagaraj Naik